.single_service{
    background: #132347;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 1px solid #7865ff;
    transition: 0.3sec;
}

.service_icon{
    font-size: 2.2rem;
    color: #7865FF;
}

.services_top h6{
    color: #7865FF;
    margin-bottom: 15px;
}

.single_service h2{
    font-size: 1.9rem;
    margin-bottom: 15px;
    margin-top: 15px;
}
.single_service p{
    font-weight:300;
    line-height:30px;
}

.single_service:hover{
    transform: translateY(-15px);
}

/* Responsive */

@media only screen and (max-width: 992px){
    .single_service h2{
        font-size: 1.3rem;
        margin-bottom: 30px;
    }
    .single_service p{
        font-size: 0.7rem;
        line-height: 28px;
    }
}
